usersdir c:\\team\\users
workdir c:\\team\\work

tomcat.common.lib.dir c:\\apache-tomcat-6.0.29\\lib
# Tomcat 5 would be \\common\\lib instead of \\lib

tomcat.server.lib.dir c:\\apache-tomcat-6.0.29\\lib
# Tomcat 5 would be \\server\\lib instead of \\lib